arg_compare.Rproj

# fna, faa datasets 
data/*

# Results from snakemake on the different types of data
dna/*
protein/*
resfinder_dna/*

# Still working on the contigs pipeline, and later on metagenomic reads
contigs

# Snakemake files 
!dna/Snakefile_dna
!protein/Snakefile_protein
!resfinder_dna/Snakefile_resfinder_dna


# Help files to complement the annotation with AROs
check_missing_annot/*.txt
check_missing_annot/*.tsv
check_missing_annot/*.json

# Length of unigenes
arg_length_fna.tsv
arg_length_faa.tsv
length_fna.tsv
length_faa.tsv

# Unigenes flagged that are not coming from metagenomic samples
unigene-environment-no-abundance.tsv
args_without_abundance.txt
unigenes_with_abundance.txt

# large outputs 
code_R_analysis/output_abundance_diversity_resistome/abundance_diversity.csv
code_R_analysis/output_abundance_diversity_resistome/abundance_diversity.rds
code_R_analysis/output_abundance_diversity_resistome/pan_resistome.csv 

# Metadata for metagenomic samples
!data/metadata_GMGC10.sample.meta.tsv

# Results from 
# retrieve_unigenes_and_aros.R
code_R_analysis/.Rapp.history
.Rapp.history
code_R_analysis/.R*
.R*
.Rhistory
code_R_analysis/.DS_Store
*.DS_Store
.DS_Store

# Never got to use it
split_data_resfinder.py
genes_prot_dna.csv

*arg_compare.Rproj
.Rproj.user
code_R_analysis/data_to_Zenodo/args_abundances.tsv
code_R_analysis/data_to_Zenodo/args_abundances.tsv.gz
code_R_analysis/data_for_shinny.R
code_R_analysis/generate_data_to_zenodo.R
