dna
protein
resfinder_dna

!dna/Snakefile_dna
!protein/Snakefile_protein
!resfinder/Snakefile_resfinder_dna

check_missing_annot
check_missing_annot

arg_length_fna.tsv
arg_length_faa.tsv
unigene-environment-no-abundance.tsv
args_without_abundance.txt
unigenes_with_abundance.txt
length_fna.tsv
length_faa.tsv
split_data_resfinder.py

data/*
contigs
